/* Homasvi_Portfolio/src/index.css */
/* Sujal_portfolio/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}


.gradient-text {
  background: linear-gradient(to right, #00ffff, #0066ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.glassmorphism {
  /* background: rgba(255, 255, 255, 0.05); */
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.neon-border {
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3),
              0 0 20px rgba(0, 255, 255, 0.2),
              0 0 30px rgba(0, 255, 255, 0.1);
}

.hover-glow:hover {
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.4),
              0 0 30px rgba(0, 255, 255, 0.3),
              0 0 45px rgba(0, 255, 255, 0.2);
}

body, #root, .App, a, button, input, textarea, select, label, svg, div, span {
  cursor: none !important;
}
